/*to get local fonts from your folder*/
@font-face{
    src: url(fonts/BBHSansBartle-Regular.ttf);
    font-family: Bartle; /* can modify name of the font */
}

/* use # to select id */
/* use . to select class */


body{
    
    background-color: lightblue;
    margin: 50px; /* adjust margins */
    display: flow-root; /*float*/
}



.box1{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}


h3{
    font-family: Bartle;
    color: black;
    text-align: center;
}

/* borders */
#p1{ 
    font: bold italic 16px Georgia, serif;
    color:blueviolet;
    border-radius: 10px;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    border-right: 3px solid red;
    border-top: 3px solid red;
    border-radius: 10px;

}

#p2{
        border: 3px inset black; /*border-width: 3px; border-style: solid; border-color: black;*/
}

#p3{
    color: #59ff5f;
}


/* use . to select class */
.p4{
    font: bold italic 16px Georgia, serif;
    color:hwb(271 16% 49%);
}

.p5{
    font: bold italic 16px Georgia, serif;
    color:hsl(272, 62%, 25%);
}

.p6{
    color:rgb(102,222,255);
}

/* for font 
(can select multiple fonts)
1.)font-family:"lucida console", "courier new"

(can select size)
2.)font-size:16px/em/%

(can select weight)
3.)font-weight:bold/normal

(can select style)
4.)font-style:italic/normal
*/

/* Google fonts
https://fonts.google.com/
*/