/*to get local fonts from your folder*/
@font-face{
    src: url(fonts/BBHSansBartle-Regular.ttf);
    font-family: Bartle; /* can modify name of the font */
}

/* use # to select id */
/* use . to select class */


body{
    
    background-color: lightblue;
    margin: 50px; /* adjust margins */
    display: flow-root; /*float*/
}


#img1{
    float: left;
    margin-right: 10px;
}

#img2{
    float: right;
    margin-left: 10px;
}


#box1{
   background-color: red;
   margin: 50px;
}

#box2{
    background-color: blue;
    margin: 50px;

}


/* overflow */
#div1{
    border: 2px solid;
    height: 75px;
    overflow: auto;
}

/* display property */
#div2{    
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}

.span1{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
    visibility: hidden;
}



.box1{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}

/* width & height property */
.box2{
    background-color: aliceblue;
    padding: 25px;
    box-sizing: border-box;
    border: 2px solid;
    height:  auto;
    width: 50%;
    float: right;
    text-align: center;

    min-height: 50%;

    /* min-width: ;
    max-width: ; */

   /* min-height: ;
    max-height: ; */

}
/* width & height property */
.box3{
    background-color: grey;
    height: 100vh;
}


/* shadows */
h1{
   text-shadow: 3px  3px 5px hsl(0, 100%, 61%), -3px  3px 5px hsl(231, 65%, 39%) ; /* horizontal offset, vertical offset, Blur */
    box-shadow: 3px 3px 5px;
}

h3{
    font-family: Bartle;
    color: black;
    text-align: center;
}

/* borders */
#p1{ 
    font: bold italic 16px Georgia, serif;
    color:blueviolet;
    border-radius: 10px;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    border-right: 3px solid red;
    border-top: 3px solid red;
    border-radius: 10px;

}

#p2{
        border: 3px inset black; /*border-width: 3px; border-style: solid; border-color: black;*/
}

#p3{
    color: #59ff5f;
}


/* use . to select class */
.p4{
    font: bold italic 16px Georgia, serif;
    color:hwb(271 16% 49%);
}

.p5{
    font: bold italic 16px Georgia, serif;
    color:hsl(272, 62%, 25%);
}

.p6{
    color:rgb(102,222,255);
}

/* for font 
(can select multiple fonts)
1.)font-family:"lucida console", "courier new"

(can select size)
2.)font-size:16px/em/%

(can select weight)
3.)font-weight:bold/normal

(can select style)
4.)font-style:italic/normal
*/

/* Google fonts
https://fonts.google.com/
*/